
<!DOCTYPE html PUBLIC "-//W3C//D
TD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <title>iPhone Student Planner</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <meta name="apple-touch-fullscreen" content="YES" />
  
<!--
<script type="application/x-javascript" src="/javascripts/iuix.js"></script>
-->

  <%= stylesheet_link_tag 'iui.css' %>

  <body>
    <div class="toolbar">
       <div class="welcomePage">
        <h1>Student Planner</h1>
      </div> 
    </div>
	

    <%= yield %>



</body>
</html>
