<div class='modebar'>
    <%= link_to 'Back', :back, :class => 'leftButton'%>
    <h1 class="title">Reoccurrences</h1>
</div>

<ul id='reoccurrences'>
  <%  @reoccurrences.each do |r| %>
    <li class='with_text'>
      <%= link_to "<div class='event_link'>"+ r.title+ "</div>",
	 { :controller => 'reoccurrences', :action => 'edit', :id => r.id } %>
    </li>
  <% end %>
</ul>
<br />
