
<div class='modebar'>
   <h1>To Do List</h1>
</div>

<% if @tasks.blank? %>
  <p>Your task list is empty.</p>


<% else %>
  <ul id="tasks">
    <% @tasks.each do |c| %>

        <!--Increment the date_index and display it if different-->
        <% if c.date != @date_index %>
           <% @date_index = c.date %>
           <div class="group_title"><%= @date_index.strftime("%a - %b %d")  %></div>
        <% end %>

        <li>
            <% if c.date < Date.today %>
                <%= link_to c.title, {:action => 'edit', :id => c.id}, :target => '_self', :class => 'old' -%>  
            <% else %> 
                <%= link_to c.title, {:action => 'edit', :id => c.id}, :target => '_self' -%>   
            <% end %>
        </li>

    <% end %>
  </ul>
<% end %>