

<ul  >
  <li>
    <%= link_to 'Day View', {:controller => 'date', :year => @year.to_i, :month => @month.to_i, :day=>@day.to_i}, :target=>'_self' %>
  </li>

  <li>
    <%= link_to 'Week View', {:controller => 'week', :year => @year.to_i, :month => @month.to_i, :day=>@day.to_i}, :target=>'_self' %>
  </li>

  <li>
    <%= link_to 'Month View', {:controller => 'calendar', :year => @year.to_i, :month => @month.to_i}, :target=>'_self' %>
  </li>
</ul>