<div class="modebar">

<%=
   listOfSpecialDays = [1,2]
    @next_date=nil
    if(@month.to_i == 12 )
      link_to '>', {:year=>(@year.to_i + 1), :month=> 1}, :target => '_self', :class => 'button'
    else
      link_to '>', {:year=>@year.to_i, :month=>(@month.to_i + 1)}, :target => '_self', :class => 'button'
    end
%>

<h1>
   <%   date = Date.new(@year.to_i, @month.to_i, @day.to_i) %>
   <%=  date.strftime("%B %Y") %>
</h1>

<%=	
    #code to generate previous month link
    @prev_date=nil
    if(@month.to_i == 1 )
      link_to '<', {:year=>(@year.to_i - 1), :month=> 12}, :target => '_self', :class => 'leftButton'
    else
      link_to '<', {:year=>@year.to_i, :month=>(@month.to_i - 1)}, :target => '_self', :class => 'leftButton'
    end
%>

</div>

<div class='panel'>
<%= calendar(:abbrev=> (0..1), :table_class=>'calendar_helper', :year => @year.to_i, :month => @month.to_i, :previous_month_text => '', :next_month_text => '') do |d|
    [ 
        if @daysWithEvents.include?(d.mday)
            link_to d.mday, {:action=>'show_day', :year => @year.to_i, :month => @month.to_i, :day => d.mday}, :style => "font-weight : bold; font-size: larger;" 
        else
            link_to d.mday, {:action=>'show_day', :year => @year.to_i, :month => @month.to_i, :day => d.mday}       
        end
    ]
   end

 %>
</div>	


