.calendar_date_select {
  color:white;
  border:#777 1px solid;
  display:block;
  /*width:195px;*/
  width: 90%;
  z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
  position: absolute;
  z-index: 999;
}

.calendar_date_select  thead th {
  font-weight:bold;
  background-color: #000;
  border-top:1px solid #777;
  border-bottom:2px solid #334;
  color: white !important;
}

.calendar_date_select .cds_buttons {
  text-align:center;
  padding:6px 0px;
  background-color: #50586B;
}

.calendar_date_select .cds_footer {
  background-color: black;
  padding:3px;
  font-size:12px;
  text-align:center;
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
}


.calendar_date_select .cds_header {
  background-color: #ccc;
  border-bottom: 2px solid #aaa;
  text-align:center;
  height:26px;
}

.calendar_date_select .cds_header span {
  font-size:22px;
  color: black;
  font-weight: bold;
}

.calendar_date_select select { font-size:11px;}

.calendar_date_select .cds_header a:hover {
  color: white;
}
.calendar_date_select .cds_header a {
  width:40px;
  height:26px;
  text-decoration: none;
  font-size:22px;
  color:black !important;
}

.calendar_date_select .cds_header a.prev {
  float:left;
}

.calendar_date_select .cds_header a.next {
  float:right;
}

.calendar_date_select .cds_header a.close {
  float:right;
  /*display:none;*/
}


.calendar_date_select .cds_header select.month {
  width:90px;
}

.calendar_date_select .cds_header select.year {
  width:61px;
}

.calendar_date_select .cds_buttons a {
  color: white;
  font-size: 16px;
  padding: 5px 8px 5px 8px;
  -webkit-border-image: url(/images/toolButton.png) 5 5 5 5;
  border: 1px solid #575769;
}

.calendar_date_select .cds_buttons select { 
  font-size:20px;
}

.calendar_date_select td {
  background-color: #99A6C5;
  font-size:16px;
  width: 24px;
  height: 40px;
  text-align:center;
  vertical-align: middle;
  border:#777 1px solid;
}
.calendar_date_select td.weekend {
  background-color: #828DA6;
}

.calendar_date_select td div.other {
  color: #4C5593;
}

.calendar_date_select tbody td {
  border-bottom: 1px solid #000044;
}
.calendar_date_select td.selected {
  background-color: #EEEEEE;
  color:black;
}

.calendar_date_select td:hover {
  background-color:#ccc;
}

.calendar_date_select td.disabled div {
  color: #000044;
}
.calendar_date_select td.today {
  border: 2px solid #EEEEEE;
}

.fieldWithErrors .calendar_date_select {
  border: 2px solid red;
}

.calendar_date_select .cds_footer span {
  font-size:18px;
}