
<% fields_for({:action => 'create_fre', :selected => 'true'}) do %>

<table>
  <tr>
    <td>
      Monday
    </td>
    <td>
      Tuesday
    </td>
    <td>
      Wednesday
    </td>
    
  </tr>
</table>
