
<div class='modebar'>
    <%= link_to 'Back', :back, :class => 'leftButton' %>
    <%= link_to "Delete", {:action => 'delete', :id => @event},       
:confirm => "Are you sure you want to delete this item?", :target => '_self', :class => 'button' %>

    <h1 class="title">Edit Event</h1>
</div>

<div class='panel'>
 
<% form_tag '/events/update/'+@event.id.to_s, :selected => 'true' do %>

  <%= render :partial=>'fields', :locals=>{:event=>@event} %>

<%= submit_tag "Save Changes", :class => 'whiteButton' %>
<% end %>

</div>
