
<div class='modebar'>
    <%= link_to 'Back', :back, :class => 'leftButton'%>
    <h1 class="title">New Event</h1>
</div>

<%= error_messages_for :event, :header_message => "Please Try Again!", :message => "Some of your input is not valid:" %>

<div class='panel'>

<% form_tag({:action => 'create', :selected => 'true'}) do %>

 <%= render :partial => 'fields', :locals=>{:event=>@event} %>

<%= submit_tag "Create", :class => 'whiteButton'%>
<% end  %>

</div>

